
.messenger{
    position: absolute;
    right: 20px;
    top: 35%;
    position: fixed;
    z-index: 999;
}
/* h1,p{
    color: aliceblue;
    padding: 5px 0px; 
} */
.row-content{
    position: absolute;
    text-align: left;
    left: 160px;
    bottom: 250px;
}
/* .row-content .tittle h1 p{
    color: aliceblue;
    padding: 5px 0px;
    font-family: 'Times New Roman', Times, serif;
} */
.learn-about{
    position: relative;
}
.learn-about a img{
    width: 240px;
    height: 40px;
    padding: 5px 0px;

}
.learn-about a{
    text-decoration: none;
    font-size: larger   ;
}

/* @media(max-width:768px){
    html{
        font-size: 45%;
    }
} */